name: Lighthouse CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  lighthouse:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Node tools
        run: |
          npm install -g @lhci/cli serve

      - name: Start static server
        run: |
          serve -s . -l 8080 &
          sleep 3

      - name: Run Lighthouse CI
        run: lhci autorun --collect.url=http://localhost:8080/index.html
