name: W3C Validators (HTML + CSS)

on:
  push:
    branches: [ "main" ]
      run: |
        curl -L https://github.com/validator/validator/releases/latest/download/vnu.jar -o vnu.jar

    - name: Validate HTML only
      run: |
        find . -name "*.html" -print0 | xargs -0 java -jar vnu.jar --errors-only

    - name: Install Node.js
      uses: actions/setup-node@v4



    - name: Validate CSS (W3C)
      run: |
